@font-face {
    font-family: 'LINESeedKR';
    src: url('../font/LINESeedKR-Th.woff2') format('woff2');
    font-weight: 100;
}
@font-face {
    font-family: 'LINESeedKR';
    src: url('../font/LINESeedKR-Rg.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'LINESeedKR';
    src: url('../font/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
}