.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  text-transform: uppercase;
  color: #fff;
  font-size: 1vw;
  font-weight: 500;
  &.invert {
    color: #000;
    @include mobile {
      background-color: #fff;
    }
    .logo {
      border: 1px solid #000;
      background-color: #fff;
    }
    .gnb {
      background-color: rgba($color: #fff, $alpha: 0.8);
      color: #000;
      .gnb-list {
        li {
          &::after {
            background-color: #000;
          }
        }
      }
    }
  }
  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 0 45px 0 49px;
    @include mobile {
      height: 50px;
      padding: 0 16px;
    }
  }
  .logo {
    padding: 0 5px;
    font-weight: 300;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 19px;
    font-weight: 300;
    font-style: italic;
    @include mobile {
      padding: 0 5px;
      font-size: 16px;
    }
  }
  .gnb {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000, $alpha: 0.8);
    backdrop-filter: blur(10px);
    color: #fff;
    transform: translateY(-100%);
    transition: transform 0.5s ease-out;
    font-size: 2vw;
    font-weight: 300;
    @include mobile {
      font-size: 10vw;
    }
    &.active {
      transform: translateY(0);
    }
    .gnb-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      gap: 2vw;
      li {
        position: relative;
        &::after {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #fff;
          content: "";
          opacity: 0;
          transition: 0.3s;
          transform: translateY(10px);
        }

        &:hover::after,
        &:focus::after {
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }
  }
}

.gnb-btn {
  position: relative;
  z-index: 999;
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  span {
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 10px;
    &:nth-of-type(1) {
      animation: barAni_1 1s;
    }
    &:nth-of-type(2) {
      animation: barAni2_1 1s;
    }
  }

  @keyframes barAni {
    0% {
      transform: translateY(0) rotate(0deg);
    }
    50% {
      transform: translateY(3.5px) rotate(0deg);
    }
    100% {
      transform: translateY(3.5px) rotate(45deg);
    }
  }
  @keyframes barAni_1 {
    0% {
      transform: translateY(3.5px) rotate(45deg);
    }
    50% {
      transform: translateY(3.5px) rotate(0deg);
    }
    100% {
      transform: translateY(0) rotate(0deg);
    }
  }
  @keyframes barAni2 {
    0% {
      transform: translateY(0) rotate(0deg);
    }
    50% {
      transform: translateY(-3.5px) rotate(0deg);
    }
    100% {
      transform: translateY(-3.5px) rotate(-45deg);
    }
  }
  @keyframes barAni2_1 {
    0% {
      transform: translateY(-3.5px) rotate(-45deg);
    }
    50% {
      transform: translateY(-3.5px) rotate(0deg);
    }
    100% {
      transform: translateY(0) rotate(0deg);
    }
  }

  &.active {
    span {
      &:nth-of-type(1) {
        animation: barAni 0.3s linear forwards;
      }
      &:nth-of-type(2) {
        animation: barAni2 0.3s linear forwards;
      }
    }
  }
  &.invert {
    span {
      background-color: #000;
    }
  }
}

.footer {
  background-color: #fff;
  .inner {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 100%;
    padding: 4.2vw 4.2vw 1vw;
    @include mobile {
      padding: 4.2vw 16px 1vw;
    }
  }
  .box {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    @include mobile {
      flex-direction: column;
    }
    h2 {
      font-size: 8.11vw;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 1;
      @include mobile {
        font-size: 10.78vw;
      }
    }
    .contact-list {
      font-size: 1.7848vw;
      @include mobile {
        font-size: 7vw;
      }
    }
  }
  .ft-list {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    @include mobile {
      font-size: 20px;
      flex-direction: column;
      gap: 10px;
      text-align: right;
    }
  }
  .under {
    display: flex;
    justify-content: space-between;
    @include mobile {
      font-size: 20px;
      flex-direction: column;
      gap: 10px;
      text-align: right;
    }
    .under {
      display: flex;
      justify-content: space-between;
      @include mobile {
        font-size: 14px;
      }
      .time {
        text-transform: uppercase;
      }
    }
  }
}

.cursor {
  display: none;
  @include pc {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: greenyellow;
    mix-blend-mode: difference;
    pointer-events: none;
  }
}

.btn-top {
  position: fixed;
  bottom: 80px;
  right: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 100%;
  opacity: 0;
  &.active {
    opacity: 1;
  }
  @include mobile {
    bottom: 50px;
    right: 16px;
    width: 45px;
    height: 45px;
  }
  svg {
    path {
      fill: #000;
    }
  }
}
